:root {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --sidebar-width: 15rem;
  --root-color: fuchsia;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1280px) {
  #root {
    margin: 0 auto;
    width: 100%;
  }
}

.app {
  flex: 1;
  display: flex;

  header {
    display: flex;
    gap: 1rem;

    .toggle-settings {
      width: 2rem;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .sidebar {
    padding: 1rem;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .presets {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        li {
          button {
            width: 100%;
            font-size: 0.8rem;
            line-height: 1.2rem;
          }
        }
      }
    }

    .controls {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        fieldset {
          border: none;
          display: flex;
          gap: 0.5rem;
          legend {
            font-weight: bold;
            margin-bottom: 0.5rem;
          }
          &.vertical {
            flex-direction: column;
          }
        }
        label {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 0.9rem;
        }
      }
    }

    footer {
      font-size: 0.9rem;
      margin-top: auto;
    }
  }

  main {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    overflow-y: auto;
    position: relative;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
  .card {
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem 1rem;
    color: black;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:
      rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    &.hasSixth {
      padding: 1rem;
      .note {
        font-size: 1.75rem;
      }
    }
    .note {
      font-size: 2rem;
      color: rgb(59, 59, 59);
    }
    .root {
      font-size: 4rem;
      font-weight: bold;
      color: var(--root-color);
    }
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr;
    .card {
      flex-direction: row;
      gap: 2rem;
      .root {
        font-size: 2rem;
      }
    }
  }
}

.backing-tracks {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  @media screen and (max-width: 640px) {
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15rem;
    @media screen and (max-width: 640px) {
      width: auto;
    }
  }
  .player {
    flex: 1;
  }

  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  label {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    select {
      height: 2rem;
      flex: 1;
    }
  }
}
